@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  background-color: rgb(17 24 39);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}