@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
  z-index: 999;
  opacity: 1;
  background-color: rgb(31, 41, 15);
  background-attachment: fixed;
}

.navbar {
  scroll-behavior: smooth;
  opacity: 1;
  background-color: rgb(31, 41, 15);
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.active {
  color: #fff;
  border-left: 2px solid orange;
}

.components-sidebar,
.layout {
  height: calc(100vh - 60px);
}

.layout::-webkit-scrollbar {
  width: 10px;
}

.layout::-webkit-scrollbar-thumb {
  background-color: rgb(245, 127, 23);
  border-radius: 100px;
}

.layout::-webkit-scrollbar-track {
  background-color: rgb(245, 127, 23);
}

.components-sidebar::-webkit-scrollbar {
  width: 7px;
}

.components-sidebar::-webkit-scrollbar-thumb {
  opacity: 0;
  border-radius: 100px;
  transition: opacity 0.8s ease;
}

.components-sidebar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(245, 127, 23);
  border-radius: 100px;
  opacity: 1;
}
