@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  background-color: rgb(17 24 39);
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar::-webkit-scrollbar-thumb {
  opacity: 0;
  border-radius: 100px;
  transition: opacity 0.8s ease;

}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #36a9fc2f;
  border-radius: 100px;
  opacity: 1;
}